<ng-container *ngIf="isLoggedIn">
    <ng-container *ngIf="isAdmin">
        <ng-container *ngIf="action == 'list'">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <h5 class="card-header">
                                <span class="logo"><i class="bi bi-images"></i></span>
                                Images
                                <span class="close" routerLink="/admin"><i class="bi bi-x-circle"></i></span>
                                <span class="add" (click)="addImage()"><i class="bi bi-plus-circle"></i></span>
                            </h5>
                            <div class="card-body">
                                <div class="card-text">
                                    <div class="row">
                                        <div class="col-8 mb-1">
                                            <form [formGroup]="searchForm">
                                                <input type="text" class="form-control" id="search" formControlName="search" (input)="filter()">
                                            </form>
                                        </div>
                                        <div class="col-4 mb-1">
                                            <div class="items-counter">
                                                Items: <b>{{ imagesListSorted.length }}</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">Id</th>
                                                    <th scope="col">Image</th>
                                                    <th scope="col">Filename</th>
                                                    <th scope="col">Width</th>
                                                    <th scope="col">Height</th>
                                                    <th scope="col">Size</th>
                                                    <th scope="col">Modified</th>
                                                    <th scope="col">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let image of imagesListSorted; index as idx">
                                                    <th scope="row">{{ idx + 1 }}</th>
                                                    <td>{{ image.key | slice:0:3 }}...</td>
                                                    <td><span class="preview" (click)="showImage(image)"><img src="{{ storageUrl }}/v0/b/{{ image.value.bucket }}/o/{{ image.value.name }}?alt=media" width="{{ listItemSize.width }}" height="{{ listItemSize.height }}"></span></td>
                                                    <td>{{ image.value.name }}</td>
                                                    <td>{{ image.value.width }}</td>
                                                    <td>{{ image.value.height }}</td>
                                                    <td>{{ image.value.size | numberFormat : 0 }}</td>
                                                    <td>{{ image.value.modified | date:'dd-MM-yyyy HH:mm:ss' }}</td>
                                                    <td>
                                                        <a (click)="showImage(image)" title="Show"><i class="bi bi-aspect-ratio"></i></a>
                                                        <a (click)="copyImage(image)" title="Copy"><i class="bi bi-clipboard-check"></i></a>
                                                        <a (click)="downloadImage(image)" title="Download"><i class="bi bi-download"></i></a>
                                                        <a (click)="deleteImage(image)" title="Delete"><i class="bi bi-trash"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div *ngIf="message && resume && success" class="alert alert-success" role="alert">{{ message }}</div>
                                    <div *ngIf="message && resume && !success" class="alert alert-danger" role="alert">{{ message }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="action == 'edit'">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-8 col-md-10 col-sm-12">
                        <div class="card">
                            <h5 class="card-header">
                                <span class="logo"><i class="bi bi-images"></i></span>
                                Image Upload
                                <span class="close" (click)="cancelImage()"><i class="bi bi-x-circle"></i></span>
                            </h5>
                            <div class="card-body">
                                <div class="card-text">
                                    <form [formGroup]="imageForm" enctype="multipart/form-data">
                                        <input type="hidden" class="form-control" id="id" formControlName="id">
                                        <div class="mb-3">
                                            <label for="file" class="form-label">Select image file from local disk...</label>
                                            <input class="form-control" type="file" id="file" formControlName="file" (change)="onFileSelected($event)">
                                        </div>
                                        <div *ngIf="message && (resume || pending) && success" class="alert alert-success" role="alert" style="display: contents;">{{ message }}</div>
                                        <div *ngIf="message && (resume || pending) && !success" class="alert alert-danger" role="alert" style="display: contents;">{{ message }}</div>
                                        <div class="action mt-3">
                                            <button type="submit" class="btn btn-primary" [disabled]="!selectedFile || pending" (click)="saveImage()">Save</button>
                                            <button type="submit" class="btn btn-warning" (click)="cancelImage()">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="action == 'preview'">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-8 col-md-10 col-sm-12">
                        <div class="card">
                            <h5 class="card-header">
                                <span class="logo"><i class="bi bi-images"></i></span>
                                Image Preview
                                <span class="close" (click)="cancelImage()"><i class="bi bi-x-circle"></i></span>
                            </h5>
                            <div class="card-body">
                                <div class="card-text">
                                    <div class="preview">
                                        <img src="{{ storageUrl }}/v0/b/{{ imageInfo.bucket }}/o/{{ imageInfo.name }}?alt=media" width="100%" height="auto">
                                    </div>
                                    <div class="mt-3">
                                        <span class="label">Filename:</span>
                                        <span class="value">{{ imageInfo.name }}</span>
                                    </div>
                                    <div class="mb-0">
                                        <span class="label">URL:</span>
                                        <span class="value mx-0"><button type="button" class="btn btn-outline-secondary btn-sm" (click)="copyLink(link)">Copy</button></span>
                                        <span class="value mx-4"><button type="button" class="btn btn-outline-secondary btn-sm" (click)="downloadLink(link, filename)">Download</button></span>
                                    </div>
                                    <div class="mb-0">
                                        <span class="label">Id:</span>
                                        <span class="value">{{ imageInfo.key }}</span>
                                    </div>
                                    <div class="mb-0">
                                        <span class="label">Size:</span>
                                        <span class="value">{{ imageInfo.size | numberFormat : 0 }}</span>
                                    </div>
                                    <div class="mb-0">
                                        <span class="label">Dimensions:</span>
                                        <span class="value">{{ imageInfo.width }} x {{ imageInfo.height }} px</span>
                                    </div>
                                    <div class="action mt-3">
                                        <button type="submit" class="btn btn-warning" (click)="cancelImage()">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="action == 'delete'">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col col-lg-4 col-md-8 col-sm-12">
                        <div class="card">
                            <h5 class="card-header">
                                <span class="logo"><i class="bi bi-images"></i></span>
                                Image Delete
                                <span class="close" (click)="cancelImage()"><i class="bi bi-x-circle"></i></span>
                            </h5>
                            <div class="card-body">
                                <div class="card-text">
                                    <form [formGroup]="imageForm">
                                        <input type="hidden" class="form-control" id="id" formControlName="id">
                                        <div class="mb-3">
                                            <label for="file" class="form-label">You are attempting to remove image:</label>
                                            <input type="text" class="form-control-plaintext" id="file" formControlName="file" readonly>
                                        </div>
                                        <div class="action mt-3">
                                            <button type="submit" class="btn btn-danger" [disabled]="pending" (click)="removeImage()">Remove</button>
                                            <button type="submit" class="btn btn-warning" (click)="cancelImage()">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="!isAdmin">
        <div class="container text-center">
            <div class="row justify-content-md-center">
                <div class="col col-lg-8 col-md-10 col-sm-12">
                    Administrative privileges are required to access this content.
                </div>
            </div>
        </div>
    </ng-container>
</ng-container>