a {
    color: #369 !important;
    :hover {
        cursor: pointer;
    }
}
div.alert {
    text-align: center;
    margin: 0;
}
textarea {
    height: 16em;
}
div.items-counter {
    text-align: right;
}